<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seng440.jeh128.seng440assignment2">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Seng440Assignment2"
        android:name="com.seng440.jeh128.seng440assignment2.Seng440Assignment2App"
        >
        <!--        android:allowBackup="true"-->
        <!--        tools:targetApi="31"-->
        <!--        android:dataExtractionRules="@xml/data_extraction_rules"-->
        <!--        android:fullBackupContent="@xml/backup_rules"-->
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Seng440Assignment2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>